@using Microsoft.AspNetCore.Identity
@inject SignInManager<Infrastructure.Identity.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="hotel-menu bg-hotel">
            <li class="hotel-menu-item hotel-fl">
                <a class="navbar-brand hotel-mr0 hotel-menu-icon" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/icons/home-page.png" alt="Strona domowa" height="40" />
                </a>
            </li>
            <li class="hotel-menu-item hotel-fl">
                <nav class="navbar hotel-h50">
                    <button class="hotel-menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1">
                        @*<span class="navbar-toggler-icon"></span>*@
                        Menu
                    </button>
                </nav>
                <div class="collapse hotel-menu-list" id="navbar1">
                    <div class="p-2">
                        <ul class="nav navbar-nav">
                            <li class="hotel-menu-list-header">
                                Strony przykładowe
                            </li>
                            <li class="hotel-menu-list-item">
                                <a class="hotel-menu-link" asp-area="" asp-controller="Home" asp-action="Index">Strona startowa</a>
                            </li>
                            <li class="hotel-menu-list-item">
                                <a class="hotel-menu-link" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2">
                        <ul class="nav navbar-nav">
                            <li class="hotel-menu-list-header">
                                Konfiguracja
                            </li>
                            <li class="hotel-menu-list-item">
                                <a class="hotel-menu-link" asp-area="" asp-controller="Admin" asp-action="UserList">Ustawienia użytkownika</a>
                            </li>
                            <li class="hotel-menu-list-item">
                                <a class="hotel-menu-link" asp-area="" asp-controller="Admin" asp-action="RolesSettings">Lista uprawnień</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <partial name="_LoginPartial.cshtml" />
        </ul>
    }
    <div class="container align-items-center hotel-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align: center">
            HotelMgmt v.0.0.1
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/hotelmgmt.css" asp-append-version="true" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>