<li class="hotel-menu-item hotel-fr">
    <form class="hotel-mr0 hotel-menu-icon" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="hotel-logout-button hotel-tac"><img src="~/icons/logout-icon.png" alt="Wyloguj" height="40" /></button>
    </form>
</li>
<li class="hotel-menu-item hotel-fr">
    <a class="navbar-brand hotel-mr0 hotel-menu-icon" asp-controller="Account" asp-action="Details" title="Details">
        <img src="~/icons/user-icon.png" alt="Konto" height="40" />
    </a>
</li>