@model Application.Accounts.Commands.ForgotPasswordCommand

@{
    ViewData["Title"] = "Przypominanie hasła";
}

<div class="h-100 d-flex justify-content-center mt-3">
    <form class="hotel-width" method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div class="p-2 text-white rounded-top hotel-bg-color shadow">
            <h4 class="text-center mb-sm-0">Przypominanie hasła</h4>
        </div>
        <div class="mb-2 rounded-bottom p-sm-2 shadow" style="background-color: lightgray">
            <div class="mb-2">
                <input id="email" type="text" class="form-control rounded-end" name="email" asp-for="Email" placeholder="Podaj adres email">
                <span id="emailspan" class="hotel-validation" asp-validation-for="Email"></span>
                <div asp-validation-summary="@ValidationSummary.ModelOnly" class="hotel-val-summary hotel-validation"></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn text-white hotel-bg-color">Przypomnij</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/account/forgotpassword.js"></script>