@{
    ViewData["Title"] = "Pomyślne zresetowanie hasła";
}

<h1>Wysłano link resetujący hasło</h1>
<div>
    <p>
        Aby zresetować hasło należy kliknąć w link, który został wysłany na podany adres mailowy. Jeśli mail nie znajduję się w skrzynce odbiorczej, prosze sprawdzić w folderze spam.
    </p>
</div>