@{
    ViewData["Title"] = "Hasło zresetowane";
}

<h1>Hasło pomyślnie zresetowane</h1>
<div>
    <p>
        Twoje hasło zostało zresetowane. <a asp-action="Login" asp-controller="Account">Kliknij aby się zalogować</a>
    </p>
</div>