@model Application.Accounts.Commands.ResetPasswordCommand

@{
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="h-100 d-flex justify-content-center mt-3">
    <form class="hotel-width" method="post" asp-controller="Account" asp-action="ResetPassword">
        <div class="p-2 text-white rounded-top hotel-bg-color shadow">
            <h4 class="text-center mb-sm-0">Resetowanie hasła</h4>
        </div>
        <div class="mb-2 rounded-bottom p-sm-2 shadow" style="background-color: lightgray">
            <div class="mb-2">
                <input id="password" type="password" class="form-control rounded-end" name="password" asp-for="Password" placeholder="Hasło">
                <span id="passwordspan" class="hotel-validation" asp-validation-for="Password"></span>
                <div asp-validation-summary="@ValidationSummary.ModelOnly" class="hotel-val-summary hotel-validation"></div>
            </div>
            <div class="mb-2">
                <input id="confirmpassword" type="password" class="form-control rounded-end" name="confirmpassword" asp-for="ConfirmPassword" placeholder="Powtórz hasło">
                <span id="confirmpasswordspan" class="hotel-validation" asp-validation-for="ConfirmPassword"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="text-center">
                <button type="submit" class="btn text-white hotel-bg-color">Resetuj</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/account/resetpassword.js"></script>