@{
    ViewData["Title"] = "Pomyślna rejestracja";
}

<h1>Rejestracja zakończona</h1>
<div>
    <p>
        Dziękujemy za rejestrację na naszej stronie. Aby aktywować konto, należy kliknąć w link, który został wysłany na podany adres mailowy. Jeśli mail nie znajduję się w skrzynce odbiorczej, prosze sprawdzić w folderze spam.
    </p>
</div>